{% extends 'main/layout.html' %}

{% block title %}Добавление в БД{% endblock %}

{% block content %}
   <div class="features_create">
       <h1>Добавление аккаунта</h1>
       <form  method="post">
           {% csrf_token %}
           {{ form.id_account }}<br>
           {{ form.email }}<br>
           {{ form.login }}<br>
           {{ form.password }}<br>
           {{ form.player_id }}<br>
           <span>{{ error }}</span>
           <button class="btn btn-success" type="submit" >Добавить</button>
       </form>
   </div>
{% endblock %}